:root{
    --blue-1-t : #114ba8 ;
    --blue-2-c : #164796;
    --blue-2-c-s : #164796;
    --blue-2-btn : #164796;
    --blue-2-p : #5b7cb1;
    --blue-dark-3 : #007AFF;
    --blue-contact : #d9d9d900;
    --div-contact :#d9d9d92e;
    --icon-contact : #ffffffa2;
    --contact-btn : #082055; 
    --bg-contact: #11164c88;
    --about-d : #eeeeee ;
    --border-services : rgba(0, 0, 0, 0.12);

    --grey-3-c : #979797;
    --white : #fff;
    --white-s : #fff;
    --gray-f : #eeeeee;
    --gray-f-s : #eeeeee;
    --footer : #E7ECFF;
    --display : block;


    /* --blue-dark-1-t : #004dc9;*/
    /* --blue-4-b : #505F98; */
    /* --grey-dark-1-t : #a6a6a6; */
    /* --grey-2 :#5D6970; */
    /* --black : #000; */
}

[data-theme="dark"] {

    --blue-1-t : #ffffff ;
    --blue-2-c : #164796;
    --blue-2-p : #ffffff;
    --blue-dark-3 : #007AFF;
    --blue-contact : #d9d9d900;
    --div-contact :#d9d9d92e;
    --icon-contact : #ffffffa2;
    --contact-btn : #082055; 
    --bg-contact: #11164c88;
    --blue-2-btn : #fff;

    --white-s : #000f7ed1;
    --blue-2-c-s : #ffff;
    --gray-f-s : #060927c1 ;

    --about-d : #061836;

    --border-services : rgba(0, 0, 0, 0.12);

    --grey-3-c : #979797;
    --white : #061836;
    --gray-f : #eeeeee;
    --footer : #061836;

}

/*------------------------------------ Global Style ---------------------------------- */ 

* {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
section {
    display: block;
  }
  
body {
    position: relative;
    font-family: sans-serif;
    background-color: var(--white);
    background-image:url(/images/svg-bg.svg);background-repeat:no-repeat;background-size:contain;background-position-x:800px;background-position-y:-400px;
}


a {
    text-decoration: none;
    color: var(--blue-1-t);
}

/*------------------------------------ Header Style ---------------------------------- */ 

header , .Home , .About{
    padding: 40px 200px;
}

.btn-toggle{
    position: fixed;
    bottom: 15px;
    right: 15px;
}


.items:hover{
    color: var(--blue-dark-3);
    transition: 0.20s;
}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .navbar img {
    width: 150px;
}
.header .navbar .pages{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.pages a{
    display: block;
    font-size: 21px;
    font-weight: 500;
    padding: 21px;
}

.navbar .icon {  
    display: none;
    color: black;
}

.btn{
    max-width: 200px;
    font-size: 0.6rem;
    color: var(--blue-2-btn);
    padding: 10px 30px;
    background-color: var(--white);
    border: 2px solid var(--blue-2-btn);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
}

.btn::after{
    content: "";
    position: absolute;
    background-color:var(--gray-f);
    border-radius: inherit;
    transition: 0.25s;
    z-index: -1;
}

.btn:hover{
    background-color: var(--blue-2-btn);
    color: var(--white);
}

/*------------------------------------ Home Style ---------------------------------- */ 

.Home , .About{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}

.parent{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    width: 1245px;
}

.content {  
    display: grid;
    grid-template-rows: repeat(3 ,auto);
    justify-content: center;
    align-items: center;
}

.content .title{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--blue-1-t);
    align-self: flex-end;   
}

.content .para{
    font-size: 0.6rem;
    color: var(--blue-2-p);
    line-height: 30px;
}


.purchase{
    background-color: var(--blue-2-c);
    color: var(--gray-f);
    border: none;
}

.ilustraion img{
    width: 600px;
}


/*------------------------------------ Details Style ---------------------------------- */ 


.details{
    height: 120vh;
    padding: 20px 200px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-parent{
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: center;
    gap: 99px;
}

.details-content{
    display: grid;
    grid-template-rows: repeat(3 ,auto);
    justify-content: center;
    align-items: center;
}

.details-content .title-1 ,  .para-1 {
    padding:2px 0;
}

.details-content .title{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--blue-1-t);
}

.details-content .para{

    font-size: 0.6rem;
    color: var(--blue-2-p);
    padding-bottom: 10px;
    line-height: 30px;

}

.details-content .title-1{
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--blue-1-t);
}

.details-content .para-1{
    font-size: 0.5rem;
    color: var(--blue-2-p);
    padding-bottom: 10px;
    line-height: 22px;
    width: 350px;
}

.elements{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    align-self: flex-start;
}
.element div{
    padding: 15px 0;
}

.icons img{
    width: 50px;
}


.details-parent .ilustraion img{
    width: 650px;
}

.ilustraion .d-icons{
    width: 190px;    
}


/* -------------------------------- Price section ---------------------------------------------- */

.price{
    height: 100vh;
    padding: 8px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    background-image: url(/images/Rectangle.png);
    background-size: cover;
}

.price-details{
    text-align: center;
    max-width: 900px;
    padding: 50px;
}
.price-content div{
    padding: 30px 0;
}

.price-details .title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue-1-t);
}

.price-details .para{
    
    font-size: 0.6rem;
    color: var(--blue-2-p);
    line-height: 30px;
    
}

.price-details h3{
    font-family:sans-serif;
    font-size: 3.6rem;
    font-weight: 200;
    color: var(--blue-1-t);
    padding-top: 50px;
   
}

.price-details h6{
    font-family:sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    padding:2px 0 10px 0;
    color: var(--blue-1-t);
    padding-bottom: 80px;
}


/*------------------------------------ About Style ---------------------------------- */ 

.About {
    height: 100vh;
    background-color: var(--white);
    margin-top: 0px;
    margin-bottom: 80px;
}

.about-head{
    background-color: var(--white);
}

.about-details{
    background-color: var(--about-d);
}

.About .parent{
    width: 1400px;
    gap: 86px;
}
.about-content {
    display: grid;
    grid-template-rows: repeat(3 ,auto);
    justify-content: center;
    align-self: center;
    gap: 33px;
}
.about-content .title ,  .para  , .buttons{
    padding:5px 0;
}

.about-content .title{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--blue-1-t);
}

.about-content .para{
    font-size: 0.6rem;
    color: var(--blue-2-p);
    padding-bottom: 20px;
    line-height: 30px;
}

.elements-about {
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 20px;
}

.element-about{ 
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 14px;
}

.element-about .infos{
    display: grid;
    grid-template-rows: repeat(2 , auto);
    align-self: flex-end;
    gap: 10px;
    padding-top: 20px;
}

.element-about .icons{ 
    padding: 0 10px;
    
}

.about-content .title-1{
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--blue-1-t);
}

.about-content .para-1{
    font-size: 0.5rem;
    color: var(--blue-2-p);
    padding-bottom: 10px;
    line-height: 22px;
}

/*------------------------------------ Featurs Style ---------------------------------- */ 


.about-featurs{

 
    width: 1245px;
    height: 100vh;
    
}

.featurs{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 200px;
}

.featurs .featues-details{
    padding: 60px;
}



/*------------------------------------ Contact Style ---------------------------------- */ 


.contact-parent{
    column-gap:80px;
    width: 100%;
}

.contact-ilustraion img{
    display: flex;
    width: 420px;
}

.contact-section{
    background-color: var(--white);
}

.main-contact{
    display: grid;
    grid-template-columns: repeat(2 , auto);

}

.contact-form{
    background-color: var(--blue-2-c);
    padding: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.contact-form .title{

    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue-2-p);

}

.contact-form .parag{
    font-size: 0.6rem;
    color: var(--gray-f);
    line-height: 30px;  
    text-align: center;
}

.div-contact{
    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 35px;
    background-color: var(--div-contact);
    margin: 20px;
}

.contact-input{
    outline: none;
    border: none;
    background-color: var(--blue-contact);
    width: 100%;
    padding: 22px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
}


::placeholder{
    color: var(--gray-f);
}

.contact-label{
    margin-left: 40px;
}

.icon1{
    color: var(--icon-contact);
}

.contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    text-align: center;
    color:var(--icon-contact);;
    font-size: 22px;
    padding: 16px 22px;
    background-color: var(--contact-btn);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    margin-left: 15px;
}

.contact-btn:hover::after{
    translate: 0;
}

.contact-btn:hover{
    background-color: var(--bg-contact);
}


/*------------------------------------ Services Section ---------------------------------- */


.services-section {
    height: 170vh;
    width: 100%;
    display: grid;
    place-items: center;
}


.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.services-column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}


.services-card {
    width: 98%;
    height: 79%;
    padding: 1em 0.5em;
    /* background: linear-gradient(var(--white) 50%, var(--blue-2-c) 50%); */
    background: linear-gradient(var(--white-s) 50%, var(--blue-2-c-s) 50%); 
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px var(--border-services);
    cursor: pointer;
    transition: 0.5s;
}


.services-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--blue-1-t);
    margin: 1em 0; 
}

.section-heading{
    color: var(--blue-1-t);
}


.services-para {
    color: var(--blue-2-p);
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.icon-wrapper {
    background-color: var(--blue-2-c);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.services-card:hover {
    background-position: 0 100%;
}

.services-card:hover .icon-wrapper {
    background-color: var(--white);
    color: var(--blue-2-c);
}

.services-card:hover h3 {
    color: var(--white);
}
.services-card:hover p {
    color: var(--gray-f-s);
}
  


/*------------------------------------ Footer Style ---------------------------------- */ 

footer{
    background-color: var(--footer);
    padding: 80px 70px;
}

.parent-footer{
    width : 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

.down-footer , .up-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.up-footer img{
    width: 150px;
}

.elem1 p{
    font-size: 18px;
    color: var(--grey-3-c);
}

.down-footer div a{
    font-size:18px;
    color: var(--grey-3-c);
    padding: 0 5px;
}

.social-icons i {
    color: var(--grey-3-c);
    font-size: 30px;
    padding: 0 4px;
}

.social-icons i:hover{
    color: var(--blue-dark-3);
}





/*--------------------------------------------- Responsive -------------------------------------------*/






@media screen and (min-width: 768px) {
    .services-section {
      padding: 0 2em;
    }
    .services-column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (min-width: 992px) {
    .services-section {
      padding: 0em 0em;
    }
    .services-column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
} 




@media screen and (max-width: 600px) {

    .content .title{
        font-size: 1.2rem;
    }
    .content .para{
        font-size: 0.4rem;
    }

}

@media screen and (max-width: 400px) {

    .content .title{
        font-size: 0.8rem;
    }
    .content .para{
        font-size: 0.2rem;
    }

    header , .Home{
        padding: 8px 40px;
    }
    .pages a , .btn{
        display: none;}

    .navbar a.icon {
        display: block;
    }



  }
  
  @media screen and (max-width: 400px) {


    .pages {
        display: block;
        flex-direction: column;
    }
    .responsive {position: relative;}
    .pages.responsive .icon {
      position: absolute;
      right : 0;
      top: 0;
    }

    .pages.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }